@import "tailwindcss";

@layer base {
  html {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#f5f5f5] text-gray-800;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  section {
    @apply py-24;
  }

  .container {
    @apply max-w-7xl;
  }
}
